<!-- Static view with legal information and disclaimer -->		
<h1>Legal Information</h1>
<main>
	<div id="panel">
		<h2 class="articleHead">Disclaimer</h2>
		<article>
			<ol>
			<li>Meijer Financial Services is a private financial services organization. We cater for select group of clientele.
			You may not use our website if you have no business relationship with Meijer Finance Services.
			Concerns about identity exploitation or manipulation will be addressed in immediate order with 
			appropriate cease-and-desist actions. Spammers and other unscrupulous web users are hereby warned to steer
			clear of this website.</li>

			<li>This website's servers are hosted in Panama. Neither our server colocation owners nor Meijer Financial 
			Services accept any liability for damages or other actions caused by spammers or scammers in any shape or form. 
			This is totaly private services provider, all our clients are personally known to us and have personal relationship
			 with Meijer Financial Services, and Meijer Financial Service is close to it's clients and together we keep our 
			 our privacy.</li>

			<li>Although the public is encouraged to explore the Meijer Financial Services, be aware that we do request
			our users personal informations or financial statement through unofficial means, always through a relationship
			staff whom client must have had personal relationship with.  
			Attempts to exploit this site, its database, its network, or any other component shall constitute a federal 
			crime. You have been warned.</li>
			</ol>
		</article>
		<h3 class="articleHead"><em>Thanks for visiting!</em></h3>
	</div>
</main>
