<h1>Editing address</h1>

<%= render 'form' %>

<%= link_to 'Show', customer_address_path %> |
<%= link_to 'Back', customer_addresses_path %>

  <br />
  <%= link_to 'Back', :back, :class => "btn btn-primary formButton"  %>
