<h1>Secure Transaction Authorization Code</h1>

<p>
  <%= @user %>, find your transaction authorization token <%= @tac %> for transaction number: 
  <%= @trans %> .
  
</p>
<br />
<p>
    <h4>Customer Care</h4>
    <h4>Meijer Financial Services</h4>
    <h3>BVI</h3>
</p>