<!-- include the "Customer Dashboard" menu -->

<div id="panel">
  <div class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid admin-nav">
        <h2 style="color:#FFF;">Admin Dashboard</h2>
        <ul class="nav nav-tabs" role="tablist">
            <% nav_items.each do |nav_item| %>
					   <%= display_nav_item(nav_item[:displaytext], nav_item[:controllername], nav_item[:linkurl]) %>
				    <% end %>
           </ul>
      </div>
  </nav>
</div>

