<footer>
  <p><strong>Witco Finance</strong> | Witco Financial Services | Private bankers, financial advisers<br />Lenders | Guarantors</p>

  <ul>
  	<!-- Secondary links -->
  	<li style="font-size: 165%;"><em><%= link_to "Legal", home_legal_path %></em></li>
  </ul>
</footer>
