<!--  Barnabas Bulpett
      WEB-289-YD1
      Spring 2015
      acct_transactions/new.html.erb
-->
<!-- Dynamically generated partial for new AcctTransaction model -->
<% content_for :customer_content do %>
<h2>New Account Transaction for Account No. <%= params[:account_id] %></h2>

<% unless params[:transaction_type_id] = 9 %>
<%= render 'wireform' %>
<% else %>
<%= render 'form' %>
<% end %>

<%#= render 'form' %>

<div id="links-block">
<%= link_to 'Back', :back, :class => "btn btn-primary formButton" %>
</div>
<% end %>